@font-face {
  font-family: KGInimitableOriginal;
  src: url(fonts/KGInimitableOriginal.ttf) format('truetype');
}

a
{
	text-decoration: none;
	color:lightgrey;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: KGInimitableOriginal;
	background-color: #000000;
	overflow:visible;
}

.title
{
	z-index: 1;	
	width: 50%;
	height: auto;
	margin: 5% 25%;
	position:relative;
}
.background
{
	position:absolute;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0 auto;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.background-1
{
	width: 50%;
	height: auto;
}

.background-2
{width: 45%;
    height: auto;
    top: 15%;
}

.background-3
{
	width: 30%;
    height: auto;
    top: 30%;
    left: -10%;
}

.background-4
{    width: 30%;
    height: auto;
    top: 50%;
    left: 60%;
}

.background-5
{    width: 25%;
    height: auto;
    top: 40%;
    left: -60%;
}

.background-6
{    width: 20%;
    height: auto;
    top: 45%;
    left: 35%;
}

.background-7
{    width: 20%;
    height: auto;
    top: 40%;
    left: 15%;
}


/*
.background-1 {background-image: url("../images/BG.svg");}
.background-2 {background-image: url("../images/BGRose.svg");}
.background-3 {background-image: url("../images/BGLola.svg");}
.background-4 {background-image: url("../images/BGDeckster.svg");}
.background-5 {background-image: url("../images/BGAngel.svg");}
.background-6 {background-image: url("../images/BGBoogie.svg");}
*/


#kickstarter
{
	position:relative;
	z-index:1;
	width:75%;
	margin: 0 auto;
	text-align:center;
	margin-top:1%;
	font-size:2vw;
}

#toolbar{
	margin-top:1%;
	position:relative;
	width: 10%;
	float: right;	
	text-align:center;
}

#toolbar button {
	width:45%;
	height: auto;
	margin: 0;
	display:inline-block;
}

#toolbar img{
	width: 100%;
	height: auto;
}

#insta {content: url("/images/OgInsta.png");}
#twitter {content: url("/images/OgTwitter.png");}

#insta:hover {content: url("/images/PinkInsta.png");}
#twitter:hover {content: url("/images/PinkTwitter.png");}

#trailer-container
{
	width: 80%;
	margin: 0 auto;
	margin-top: 100%;
}

#summary-container
{
	position:relative;
	width:80%;
	margin:0 auto;
	text-align: center;
	color:#FF0000;
}

.video-container
{
    position: relative;
    margin: 0% auto;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.character-container
{
	padding: 5% 1%;	
}

.character
{
    display: inline-block;
}

#underlings-container
{
	position:relative;
    text-align:center;
    width: 80%;
	margin: 0 auto;
}

#underlings-container .character
{
    width:24%;
}

.characterAnim
{
	width:100%;
	height:auto;
}

#card-container
{
	position:relative;
	background-color:#000000;
	width: 60%;
	height: 35%;
	margin: 0 auto;
	padding: 2%;
}

.character-card
{
	color:#FFFFFF;
	display:none;
}

.text-container
{
	width: 60%;
	display: inline-block;
	vertical-align:top;
}

.stats
{    
	width: 30%;
	height: auto;
	vertical-align: middle;
} 

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#footer-container
{
	margin-top:3%;
	width: 100%;
	text-align:center;
	color:#FFFFFF;
}
	
