@font-face {
  font-family: KGInimitableOriginal;
  src: url(fonts/KGInimitableOriginal.ttf) format('truetype');
}

a
{
	text-decoration: none;
	color:lightgrey;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: KGInimitableOriginal;
	background-color: #000000;
}

.title
{
	z-index: 1;	
}

.title img
{
	z-index: 1;	
	width: 50%;
	height: auto;
	margin: 25%;
}


.background
{
	z-index: 0;
	position:absolute;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.background-1 {background-image: url("../images/BG1.png");}
.background-2 {background-image: url("../images/BG2.png");}
.background-3 {background-image: url("../images/BG2.png");}

#header-container
{
	margin-top:1%;
	width: 100%;	
	text-align:center;
}

#trailer-container
{
	width: 80%;
	margin: 0 auto;
}

#summary-container
{
	width:80%;
	margin:0 auto;
	text-align: center;
	color:#FF0000;
}

.video-container
{
    position: relative;
    margin: 0% auto;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.character-container
{
	padding: 5% 1%;	
}

.character
{
    display: inline-block;
}

#underlings-container
{
    text-align:center;
    width: 80%;
	margin: 0 auto;
}

#underlings-container .character
{
    width:24%;
}

.characterAnim
{
	width:100%;
	height:auto;
}

#card-container
{
	background-color:#000000;
	width: 60%;
	height: 35%;
	margin: 0 auto;
	padding: 2%;
}

.character-card
{
	color:#FFFFFF;
	display:none;
}

.text-container
{
	width: 60%;
	display: inline-block;
	vertical-align:top;
}

.stats
{    
	width: 30%;
	height: auto;
	vertical-align: middle;
} 

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#footer-container
{
	margin-top:3%;
	width: 100%;
	text-align:center;
}
	
