@font-face {
  font-family: Intensa_Fuente;
  src: url(fonts/Intensa_Fuente.ttf) format('truetype');
}

a
{
	text-decoration: none;
	color:#FFFFFF;
}

html,body
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden; 
	font-family: Intensa_Fuente;
	background-color: #0F182A;
	overflow:visible;
}

#banner
{
	width: 100%;
	height: auto;
}

#topbggradient
{
	background-image: linear-gradient(#6ad0ff, #493b68);
	position: absolute;
	width: 100%;
	height: 125%;
	top: 0;
	left: 0;
}

.title
{
	z-index: 1;	
	width: 50%;
	height: auto;
	margin: 5% 25%;
	position:relative;
}

/*.background1
{
	position:absolute;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0 auto;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.background2
{
	position:absolute;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0 auto;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.background-0
{
	width: 100%;
	height: 175%;
	top: 0%;
}

.background-1
{
	width: 100%;
	height: auto;
	top: 0%;
}

.background-2
{
	width: 100%;
	height: auto;
	top: 40%;
}

.background-3
{
	width: 100%;
	height: auto;
	top: 65%;
}

.background-4
{
	width: 100%;
	height: auto;
	top: 90%;
}

.background-5
{width: 45%;
    height: auto;
    top: 15%;
}

.background-6
{
	width: 30%;
    height: auto;
    top: 30%;
    left: -15%;
}

.background-7
{    width: 30%;
    height: auto;
    top: 50%;
    left: 60%;
}

.background-8
{    width: 25%;
    height: auto;
    top: 40%;
    left: -60%;
}

.background-9
{    width: 20%;
    height: auto;
    top: 45%;
    left: 35%;
}

.background-10
{    width: 20%;
    height: auto;
    top: 40%;
    left: 15%;
}*/


/*
.background-1 {background-image: url("../images/BG.svg");}
.background-2 {background-image: url("../images/BGRose.svg");}
.background-3 {background-image: url("../images/BGLola.svg");}
.background-4 {background-image: url("../images/BGDeckster.svg");}
.background-5 {background-image: url("../images/BGAngel.svg");}
.background-6 {background-image: url("../images/BGBoogie.svg");}
*/


#kickstarter
{
	position:absolute;
	z-index:1;
	width:25%;
	top:5%;
	margin: 0 auto;
	text-align:center;
	margin: 0 auto;
	font-size:3vw;
	color:#000000;
}

#demo
{
	position:absolute;
	z-index:1;
	width:25%;
	top:5%;
	margin-left: 75%;
	text-align:center;
	font-size:3vw;
	color:#000000;
}

/*#toolbar{
	margin-top:-0.5%;
	position:relative;
	width: 10%;
	float: right;	
	text-align:center;
}

#toolbar button {
	width:48%;
	height: auto;
	margin: 0;
	display:inline-block;
}

#toolbar img{
	width: 100%;
	height: auto;
}

#insta {content: url("/images/OgInsta.png");}
#twitter {content: url("/images/OgTwitter.png");}

#insta:hover {content: url("/images/PinkInsta.png");}
#twitter:hover {content: url("/images/PinkTwitter.png");}*/

#trailer-container
{
	width: 75%;
	margin: 0 auto;
	margin-top: 5%;
}

#quotes-container
{
	position: relative;
	width: 75%;
	margin: 5% auto;
	margin-bottom: 5%;
	text-align: center;
	color: #FFFFFF;
	font-size: 2vw;
}

.video-container
{
    position: relative;
    margin: 0% auto;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.selectarrow
{
    width: 25%;
    height: auto;
    margin-left: 37.5%;
    position: absolute;
    top: 25%;
	z-index:3;
}

.character-container
{
	width: 100%;
	height: auto;
	position:relative;
	margin: 15% auto;
}

#characterbg
{width: 60%;
    height: auto;
    position: absolute;
    top: 0;
    left: 20%;
}

#characterfg 
{    
	    width: 60%;
	    position:absolute;
    height: auto;
    top: -30%;
    left: 20%;
    z-index: 2;
}

.characters
{    width: 60%;
    height: 100%;
    position: absolute;
    top: -81%;
    left: 21%;
}

.character
{
    display: inline-block;
	position:relative;
}

#labrose
{
    position: absolute;
    left: 11%;
    top: 88%;
}

#labangel
{
    position: absolute;
    left: 28.5%;
    top: 88%;
}

#labdeckster
{
	
    position: absolute;
    left: 46%;
    top: 88%;
}

#labboogie
{
	
    position: absolute;
    left: 63%;
    top: 88%;
}

.character button
{
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#underlings-container .character
{
    width:20%;
}

.characterAnim
{
	width:100%;
	height:auto;
}

#character-buttons
{  
    width: 60%;
    height: 45%;
    margin: 0 auto;
    margin-top: -5%;
}

.character-button
{
    width: 24%;
    height: 100%;
    position: relative;
	display:inline-block;
	z-index:3;
}

#card-container
{    position: relative;
       width: 24vw;
    height: 18vw;
    margin: 0 auto;
    color: #156CB6;
	padding: 1%;
    z-index: 3;
	margin-top:-10%;
}

#computerscreen
{
	width: 200%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: -15%;
    left: -50%;
}

.computercharacter
{
	width: 50%;
	height: auto;
	position:absolute;
	top: 3%;
	right: -9%;
}

.card-name
{
	font-size: 2vw;
	margin: 0;
	transform: skewX(5deg);
	margin-left: 10%;
	margin-top: 20%;
}

.description
{
	font-size: 1.4vw;
	transform: skewX(5deg);
	margin-left: 15%;
}

.character-card
{
	display:none;
}

.text-container
{
	width: 50%;
	display: inline-block;
	vertical-align:top;
    position: relative;
}

.stats
{    
	position:absolute;
	bottom: -2%;
	right: 3%;
	width: 40%;
	height: 25%;
} 

button 
{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#features
{
	color: white;
	width: 80%;
	margin: 0 auto;
	margin-top: 10%;
	font-size:2vw;
}


#screenshotcontainer
{
    margin: 3% 3%;
}

.screenshot
{
    width: 45%;
    margin: 1% 2.25%;
    height: auto;
    display: inline-block;
    cursor:pointer;
    transition: 0.3s;
}

.screenshot:hover {opacity:0.7;}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
}

.modal-content
{
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

#caption
{
	margin: auto;
	display: block;
	width: 80%;
	max-width: : 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

.modal-content, #caption
{
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom{
	from {transform:scale(0);}
	to{transform:scale(1);}
}

#footer-container
{
	margin-top:3%;
	margin-bottom:2%;
	width: 100%;
	text-align:center;
	color:#FFFFFF;
}

.close
{
	position: absolute;
	top:15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover, .close:focurs{
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

@media only screen and (max-width: 700px)
{
	modal-content
	{
		width: 100%;
	}
}

#dummydojo
{
	width: 60%;
	margin: 0 auto;
	color: white;
	font-size: 1.4vw;
}

#ddlogo
{
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#social
{

}

#insta {content: url("/images/OgInsta.png");}
#twitter {content: url("/images/OgTwitter.png");}

#insta:hover {content: url("/images/PinkInsta.png");}
#twitter:hover {content: url("/images/PinkTwitter.png");}
