@media (orientation: portrait){
  
#kickstarter
{	
	font-size:5vw;
}
	
#toolbar button {
	width:100%;
	height: auto;
	margin: 0;
	display:inline-block;
}

#topbggradient
{
	height: 100vw;
}

.background-1
{
	top: 0%;
}

.background-2
{
	width: 100%;
	height: auto;
	top: 35vw;
}

.background-3
{
	width: 100%;
	height: auto;
	top: 55vw;
}

.background-4
{
	width: 100%;
	height: auto;
	top: 65vw;
}

.background-5
{width: 50%;
    height: auto;
    top: 8vw;
}
	
#trailer-container
{
	width: 90%;
	margin-top: 130%;
}

#quotes-container
{
	width: 80%;
	margin: 20% auto;
	font-size:4vw;
}

#characterfg 
{    
    top: -20%;
}

.screenshot
{
    width: 90%;
    margin: 1% 5%;
    height: auto;
    display: block;
}

}
