@media (orientation: portrait){
  
#kickstarter
{	
	font-size:5vw;
}
	
#toolbar button {
	width:100%;
	height: auto;
	margin: 0;
	display:inline-block;
}

#topbggradient
{
	height: 100vw;
}

.background-1
{
	top: 0%;
}

.background-2
{
	top: 35vw;
}

.background-3
{
	top: 55vw;
}

.background-4
{
	top: 65vw;
}

.background-5
{
    top: 12vw;
}

.background-6
{
    top: 30vw;
    left: -15vw;
}

.background-7
{
    top: 50vw;
    left: 60vw;
}

.background-8
{
    top: 40vw;
    left: -60vw;
}

.background-9
{ 
    top: 45vw;
    left: 35vw;
}

.background-10
{ 
    top: 40vw;
    left: 15vw;
}
	
#trailer-container
{
	width: 90%;
	margin-top: 130%;
}

#quotes-container
{
	width: 80%;
	margin: 20% auto;
	font-size:4vw;
}
.character-container
{
	width: 100%;
	height: auto;
	position:relative;
	margin: 15% auto;
}

#characterbg
{width: 60%;
    height: auto;
    position: absolute;
    top: 0;
    left: 20%;
}


#characterfg 
{    
    top: -20%;
}

.characters
{    width: 60%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 20%;
}

.screenshot
{
    width: 100%;
	margin: 2% 0;
    height: auto;
    display: block;
}

#card-container
{    
       width: 50vw;
    height: 50vw;
 }

#computerscreen
{
	width: 200%;
    position: absolute;
    top: 0;
    left: -50%;
}

.card-name
{
	font-size: 3vw;
	margin-top: 50%;
}

.description
{
	font-size: 2.75vw;
	transform: skewX(5deg);
	margin-left: 17%;
}

.computercharacter
{
	top: 7vw;
	right: -3vw;
}
	
}
